:root{
  --search-box-width:calc(100vw - 18px);
  --search-box-sm-width:92%;
  --search-box-ipad-width:80%;
  --search-box-lg-width:730px;

  --search-box-sm-max-width:calc(.8 * 640px);
  --search-box-ipad-max-width:730px;

  --toggle-left-1: 19%;
}