.real-estate-card {
  max-width: 760px;
  text-align: start;
  background: #fff;
  box-shadow: 0 0 0 1px #dcdcdc;
  overflow: hidden;
  transition: all ease 0.2s;
  text-decoration: none;
  &.has-call-buttons{
    height: 180px ;
  }
  &.info-map-view-fixed {
    width: 100%;
    z-index: 900;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px !important;
    .card-header {
      width: 145px !important;
      min-width:auto !important;
      padding: 5px !important;

    }

    .card-body {
      font-size: 12px;
      padding: 5px;

      .price {
        font: normal normal normal 25px/28px Microsoft Sans Serif;
        padding :0 !important;
        margin :0 !important;
        span{
          font: normal normal normal 12px/22px Droid Arabic Kufi;
        }
        .price-in-map{
          display: none;
        }
      }

      .location {
        font: normal normal normal 11px/21px 'Droid Arabic Kufi';
        margin-bottom :2px ;
        height: 21px;
        .icons{
          font: normal normal normal 12px/16px 'icomoon';

        }
      }
      .specs-list{
        margin-bottom:2px;
        height: 22px;
      }
      .real-estate-type{
        margin-top: -3px;
        font: normal normal normal 12px/22px 'Droid Arabic Kufi';
      }
    }

    .add-to-favorite,
    .real-estate-date,
    .title,
    .card-footer,
    .features {
      display: none !important;
    }
  }

  &.active , &:hover{
    box-shadow: 0 0 5px #0089FE80,0 0 5px #0089FE80,0 0 5px #0089FE80;
    z-index: 5 !important;
  }
  .card-header {
    min-width: 270px;
    border: 0 !important;
    transition: all ease 0.3s;
    @media(max-width: 768px) and (min-width:640px){
      width:180px;
      min-width: auto;
      .container-3-2{
        padding-top:100% !important;
      }
    }
    .real-estate-date {
      padding: 4px 10px !important;
      height: 30px;

      span {
        margin: 0 9px !important;
        font: normal normal bold 12px/22px 'Droid Arabic Kufi';
      }
    }
    .add-to-favorite {
      padding: 4px 10px;
      font-size: 28px;
      color: white;
      i{
        font: normal normal normal 24px/31px 'icomoon';
      }
      &.isFavorite{
        color: red;
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
      }
    }

    .features {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      right: 0;
      color: #fff;
      height: 22px;
      padding: 1px 7.5px 1px 0;


      li {
        font-size: 15px;
        line-height: 1;
        margin-left:10px;
        height: 20px;
        padding: 2px;

        i {
          font-size: 16px;
        }

        //&:not(:last-child) {
        //  margin-left: 2px;
        //}

        &.icon-deg360 {
          width: 30px;
          height: 20px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
        &.icon-cube{
          width: 20px;
          height: 20px;
        }



        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .real-estate-date {
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      padding: 1px 5px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .card-body {
    position: relative;
    width: calc(100% - 300px);
    padding: 10px 10px 0 0;

    .specs-list {
      color: rgb(119, 119, 119);
      font-size: 12px;
      height: 16px;
      margin-bottom:5px;
      .spec-item{
        margin-left:20px;
        font: normal normal normal 12px/22px 'Droid Arabic Kufi';
        display: flex;
        align-items: center;
        i{
          margin-left:5px;
        }
      }
    }

    .price {
      color: $color_red;
      font: normal normal normal 20px/22px 'Microsoft Sans Serif';
      margin-bottom: 6px;

      span {
        font: normal normal normal 12px/22px 'Droid Arabic Kufi';
      }
    }

    .auction-date {
      color: $color_red;
      font: normal normal normal 18px/21px 'Microsoft Sans Serif';
      span {
        font: normal normal normal 12px/22px 'Droid Arabic Kufi';
      }
      i{
        font: normal normal normal 18px/21px 'Microsoft Sans Serif';
      }

    }

    .title {
      color: $color_blue;
      font: normal normal bold 14px/27px 'Droid Arabic Kufi';
      margin-bottom:5px;
    }

    .location {
      font: normal normal normal 11px/21px 'Droid Arabic Kufi';
      margin-bottom: 6px;
      li {
        color: #000;
      }
    }

    .contact-us {
      color: $color_white;

      li {
        border-radius: 3px;
        margin-left: 10px;
        padding: 0px 8px;
        width: 70px;
        height: 25px;
      }

      a {
        color: $color_white;
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        i{
          margin: 0 1px 0 6px;
        }
      }

      .call-us-btn {
        background: $color_red;
      }

      .email-btn {
        background: $color_email;
        width: 60px;
      }

      .whatsapp-btn {
        background: $color_whatsapp;
      }
    }
    .real-estate-type{
      height: 22px;
      font: normal normal normal 12px/22px 'Droid Arabic Kufi';
      margin-bottom:6px;
    }
  }
  .card-footer {
    background: #fff;
    padding: 0;
    margin: 0;
    position: absolute !important;
    bottom: 6px;
    left: 6px;

    .author {
      &_title {
        display: none !important;
        span {
          color: #b3b3b3;
          font-weight: 700;
          font-size: 11px;
          margin-left: 8px;
          padding-left: 8px;
          border-left: 1px solid #e2e6eb;
          line-height: 1.4;
          width: 60px;
          line-height: 1.8;
        }

        h4 {
          color: #0089fe;
          font-size: 13px;
          line-height: 1.4;
        }
      }

      &_logo {
        flex-shrink: 0;
        width: 85px;
      }
    }
  }
  &.grid-view {
    max-width: 360px;
    flex-direction: column;
    height: 310px;
    margin:0 auto;
    &.has-call-buttons{
      height: 340px !important;
    }
    &.info-map-view {
      margin-bottom: 0 !important;
      width: 180px;
      height: 160px;
      @media (max-width: 767px) {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
      }


      .card-header {
        img{
          padding : 0 !important;
        }
        .add-to-favorite {
          display: none !important;
        }

        .features {
          display: none !important;
        }

        .real-estate-date {
          display: none !important;
        }
      }

      .card-body {
        padding: 3px 5px 0 0 !important;
        height: 70px;
        overflow: hidden;


        .price {
          min-height: auto;
          height: 16px !important;
          font: normal normal normal 14px/16px 'Microsoft Sans Serif' !important;
          color: #D92227;
          .price-in-map{
            display: none;
          }
          span {
            font: normal normal normal 8px/15px 'Droid Arabic Kufi' !important;
          }
        }
        .location{
          height: 16px;
          font: normal normal normal 10px/19px 'Droid Arabic Kufi' !important;
          li{
            font: normal normal normal 10px/19px 'Droid Arabic Kufi' !important;
          }
        }
        .specs-list{
          height: 14px;
          font: normal normal normal 10px/19px 'Droid Arabic Kufi';
          .spec-item{
            margin-left:9px;
            font: normal normal normal 10px/19px 'Droid Arabic Kufi';
          }

        }
        .title {
          display: none !important;
        }

        .real-estate-type {
          font: normal normal normal 10px/19px 'Droid Arabic Kufi';
          .mx-icon-circle{
            line-height: 0;
          }
        }
      }

      .card-footer {
        display: none !important;
      }
    }
    &.price-first{

      .card-body{
        padding: 5px 10px 0 0;
        .title{
          margin-bottom:0;
        }
        .location{
          margin-bottom:0;
        }
        .price{
          margin-bottom:0px;
          height: 28px;
          font: normal normal normal 25px/28px 'Microsoft Sans Serif';
          span{
            font: normal normal normal 12px/22px 'Droid Arabic Kufi';
          }

        }
        .real-estate-type{
          margin-top: -4px;
        }

      }
    }

    .card-header {
      width: 100%;
      min-width: 100% !important;
      .container-3-2 {
        padding-top: 50% !important;
      }
    }

    .card-body {
      width: 100%;
      padding: 0px 5px 0 0;


      .title {
        margin-bottom:0;
        font: normal normal bold 14px/27px 'Droid Arabic Kufi';
      }
      .price{
        font: normal normal normal 20px/22px 'Microsoft Sans Serif';
        margin-bottom:5px;
        span{
          font: normal normal normal 12px/22px 'Droid Arabic Kufi';

        }
      }
      .location{
        margin-bottom:2px;
        height: 21px;
        font: normal normal normal 11px/21px 'Droid Arabic Kufi';
      }
      .specs-list{
        font: normal normal normal 12px/22px Droid Arabic Kufi;
        height: 22px;
        margin-bottom:2px
      }

      .real-estate-type{
        display: flex;
        align-items: center;
        font: normal normal normal 12px/22px 'Droid Arabic Kufi';
        color: #001324 !important;
        margin-bottom: 6px;
        .mx-icon-circle{
          margin-left:4px;
        }
      }
    }

    .card-footer {
      bottom: 7px;
      left: 5px;
    }

    &-small {
      box-shadow: 0px 0px 4px #0000009E;
      overflow: hidden;
      max-height: 238px;
      max-width: 214px;

      .card-header {
        width: 100%;

        .container-3-2 {
          padding-top: 66.66667% !important;
        }

        .real-estate-date {
          display: none !important;
        }
      }

      .card-body {
        padding: 5px 5px 0 0 !important;
        .price {
          font: normal normal normal 20px/22px 'Microsoft Sans Serif';
          span{
            font: normal normal normal 11px/21px Droid Arabic Kufi;
          }
        }

        .title {
          display: none !important;
        }

        .location {
          height: 21px;
          font: normal normal normal 11px/21px 'Droid Arabic Kufi';
        }
        .specs-list{
          height: 22px;
          font: normal normal normal 12px/22px 'Droid Arabic Kufi';
        }
        .real-estate-type{
          font: normal normal normal 11px/21px 'Droid Arabic Kufi';
          margin-top:-6px !important;
        }
      }

      .card-footer {
        display: none !important;
      }
    }

    &-popup {
      justify-content: center;
      text-align: center;
      border: none;

      .card-header {
        border: none;
        width: 100%;

        .features, .add-to-favorite {
          display: none !important;
        }

        .real-estate-date {
          display: none !important;
        }
      }

      .card-body {
        line-height: 1;

        .title {
          font-size: 17px;
          line-height: 1.5;
          height: auto;
        }

        .specs-list {
          display: none !important;
        }

        .real-estate-type {
          display: none !important;
        }

        .price {
          justify-content: center;
          line-height: 1;
          font-size: 16px;
          font-weight: 400;
        }

        .location {
          justify-content: center;
          font-size: 10px;
        }
      }

      .card-footer {
        display: none !important;
      }

    }
  }

  @media (max-width: 650px) {
    .card-header {
      //width: 100%;
    }
  }
}



