._modal_style_1 {
  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    width: 320px;
  }

  .isFail {
    color: red
  }

  .isSuccess {
    color: green
  }

  .isWarning {
    color: yellow;
  }

  .modal-content {
    border-radius: 0 !important;
  }

  .modal-header {
    justify-content: center !important;
    padding:0 !important;
    border: none !important;
    ._modal_title {
      flex: 1;
      font-size: 14px !important;
      text-align: center !important;
    }

    button {
      position: absolute;
      left: 10px;
      top: 10px;
      opacity: 1
    }
  }

  ._modal_contain {
    ._sub_title {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      margin: 0;
      padding: 0 20px;
    }

    ._text {
      font-size: 12px;
      color: black;
      padding: 0 20px;
    }
  }

  .modal-footer {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    border:none !important;

    button {
      &:hover{
        color: #fff !important;
      }
      color: #007bff !important;
      border:1px solid #007bff  !important;
      box-shadow: none !important;
      margin: 0 15px;
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 25px;
    }
  }
}
