
// Set Element Fixed to bottom screen
.sticky-bottom-on-scroll{
  &.sticked{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    padding:15px;
    background: #fff;

  }
}

// TODO : Recheck

body {
  background-color: $color_ground;
  font-family: $font;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

.bg-white {
  background-color: #fff;
}

.custom-shadow{
  box-shadow: 0 -0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.2);
}

.shadow-btn{
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.form-group{
  margin-bottom: 0.4rem;
  width: 100%;
  .validation-message {
    width: 100%;
    font-size: 0.70rem;
    color: red;
  }
  .adrs-line-two {
    width: 14rem;
    font-weight: bold !important;
    color: #1b95e0 !important;
    position: relative;
  }
  .form-control{
    border-color: $color_5;
    min-height: 2rem;
    max-height: 2rem;
    font-size: .9rem;
  }
  .text-danger{
    margin-right: 3px;
  }
}

.hard-shadow{
  box-shadow: 3.5px 3.5px 0 0 $color_4;
}

.w-30{
  width: 30% !important;
}

.w-35{
  width: 35% !important;
}

.adrs-line{
  @media (max-width: 374.5px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 1rem;
      height: 0.094rem;
    }
  }
  @media (min-width: 374.6px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 3rem;
      height: 0.094rem;
    }
  }
  @media (min-width: 600px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 8rem;
      height: 0.094rem;
    }
  }
  @media (min-width: 767.98px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 13.5rem;
      height: 0.094rem;
    }
  }
  @media (min-width: 991.98px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 13.5rem;
      height: 0.094rem;
    }
  }
  @media (min-width: 1200px) {
    .label-adrs:before,
    .label-adrs:after {
      width: 17.5rem;
      height: 0.094rem;
    }
  }
  .label-adrs {
    width: 14rem;
    font-weight: bold;
    color: #000;
    position: relative;
  }
  .label-adrs:before,
  .label-adrs:after {
    content: "";
    display: flex;
    width: 100%;
    height: 0.18rem !important;
    background: $color_prim;
    position: absolute;
    top: 50%;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
  .label-adrs:before {
    left:  14rem;
  }
  .label-adrs:after {
    right: 14rem;
  }
}

.scroll-to-top{
  transition: opacity 0.3s;
  padding: 0;
  bottom: 7px;
  display: block;
  height: 50px;
  width: 50px;
  opacity: 0;
  position: fixed;
  left: 7px;
  text-decoration: none;
  z-index: 1040;
  font-size: 0.8em;
  background-color: $color_dark;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color_primary;
}

.bg-color-muktamel{
  background-color:$color_dark;
}

.text-primary {
  color: $color_primary !important;
}

.bg-danger,.btn-danger {
  background-color: #d92227 !important;
}
.bg-dark,.navbar-dark{
  background-color: $color_dark !important;
}




// google map information window
.gm-style{
  box-shadow: none !important;
  background: none !important;
}
.gm-style-iw{
  box-shadow: none !important;
  background: none !important;
  margin:0 !important;
  padding:0 !important;
}
.gm-style-iw-d{
  overflow: hidden !important;
}


input[type="button"],button{
  outline:none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}
