@import "./_common.scss";

#login,
#forgetPassword,
#modal-email-forget,
#confirmPhoneRegister,
#modal-confirm-register,
#confirmPhoneForgetPassword {
  .modal-content {
    background: #fff;
    box-shadow: 0 -0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 0;

    .modal-header {
      .modal-title{
        margin: 15px 0
      }
      button {
        right: -1px;
        top: -1px;
        position: absolute;
        background: red;
        padding: 0;
        margin: 0;
        width: 27px;
        min-width: 27px;
        height: 27px;
        opacity: 1;
        color: #fff;
        font-size: 25px;
        z-index: 1;
        cursor: pointer;
        border: 0;
        line-height: 26px;
        font-weight: bold;
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.938rem;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}


.modal {
  .modal-title {
    color: $color_dark;
    font-family: $font;
  }

  .modal-body {
    h3,
    h6 {
      color: $color_dark;
      font-family: $font;
    }

    p {
      color: $color_dark;
      font-family: $font;
    }

    .form-group label {
      margin-bottom: 0.2rem;
      font-weight: bold;
    }

    .input_cont {
      input {
        max-height: 2.2rem;
        margin: 2px 4px;
        background: #f0f5f7;
        border: 1px solid #dcdcdc !important;
      }
    }

    .form-group input:focus {
      outline: 0;
      box-shadow: none;
    }

    .wrong-info {
      height: 2rem;

      label {
        color: red !important;
        font-size: 13px !important;
      }
    }
  }

  .modal-footer {
    button {
      color: $color_input_pg !important;
      font-family: $font_bold;
      box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
      border: none;
    }

    button:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .send {
      background-color: $color_dngr;
    }

    .send:hover {
      background-color: $color_danger;
    }

    .ent-again {
      background-color: $color_dngr;
      color: $color_input_pg !important;
      font-family: $font_bold;
      border: none;
    }

    .ent-again:hover {
      background-color: $color_danger;
    }

    .close {
      background-color: $color_4;
    }
  }
}

.failTries {
  label {
    color: red;
  }
}

/* Login Modal */
.login-modal {
  text-align: center;

  .modal-content {
    width: 360px;
    padding: 30px !important;
  }

  .modal-header {
    border-bottom: 0;
    padding: 0;

    button.close {
      left: 0 !important;
      right: auto !important;
      top: 5px !important;
      background: transparent !important;
      color: #0089fe !important;
      margin: 5px 7px !important;
      font-size: 30px !important;
    }
  }

  .title {
    h3 {
      color: #0089fe !important;
      font-family: "Droid Arabic Kufi", sans-serif;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 30px !important;
    }
  }
.form-group{
  margin-bottom:20px;
  .input-group {
    position: relative;
    input {
      border: 1px solid #DADCE0 !important;
      height: 34px !important;
      font-size: 12px;
    }
    .show-pass{
      left:10px;
      top:8px;
      z-index: 90;
      cursor: pointer;
      i{
        color:#595959;
        font-size: 16px;
      }
    }
  }
  .validation-message{
    text-align: right !important;
    //height:20px;
  }
}
  .remember-me{
    margin-top:8px;
    margin-bottom:20px;
    color:#0089FE !important;
    font-weight:bold;
    font-size: 12px;
    .form-check{
      cursor:pointer;
    }
    label{
      width: auto !important;
      margin-right:5px;
    }
    a{
      color:#0089FE;
    }
  }


  .submit-button {
    width: 100%;
    background: #0089FE;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    i{
      font-size: 16px;
      margin-left:10px;
    }
  }

  .social-login {
    margin-top: 15px;
    margin-bottom: 80px;
    visibility: hidden;

    p {
      color: #0089fe;
      font-weight: bold;
      margin-bottom: 9px;
    }

    a {
      width: 40px;
      height: 40px;
      line-height: 45px;
      display: inline-block;
      margin: 0 5px;
      color: #fff;
      box-shadow: -3px 3px 6px #00000040;

      i {
        font-size: 20px;
      }
    }

    .facebook-color {
      background: #3e5992;

      &:hover {
        background: #344b7e;
      }
    }

    .twitter-color {
      background: #67ace8;

      &:hover {
        background: #60a0d8;
      }
    }

    .google-plus-color {
      background: #e74133;

      &:hover {
        background: #d63c2e;
      }
    }
  }

  .not-registered {
    box-shadow: -3px 3px 5px #0000004D;
    background: #F3F3F3;
    height: 40px;
    padding-top: 8px !important;

    span {
      color: #001324;
      font-size: 16px;
    }

    a {
      color: #0089FE;
      font-weight: bold;
      font-size: 16px !important;
    }
  }
}

/* Start Password Forget Section */
#modal-email-forget {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
    }
  }

  .login-form {
    padding: 25px 50px;

    .title {
      label {
        color: #001324;
      }
    }

    .content {
      label {
        color: #c28a41;
      }
    }
  }
}

/* confirm Phone Register*/
#confirmPhoneRegister {
  .login {
    padding: 10px 45px;
  }

  .title {
    label {
      color: #001324;
    }
  }

  span.validation-number {
    margin: 0 4px;
    width: 45px;

    input {
      background: #f0f5f7;
      border: 1px solid #cacaca !important;
      font-size: 18px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    span {
      height: 2rem;
      display: block;
    }
  }

  .title-details {
    background: #f0f5f7;
    border-radius: 5px;
  }

  #RegisterTimes,
  #confirm_code {
    padding-left: 18px !important;
    border-left: 1px solid #d8d8d8 !important;
    margin-left: 18px !important;
    padding: 10px 0;

    .number {
      color: #0089fe;
    }
  }

  .base-timer {
    position: relative;
    width: 70px;
    height: 70px;

    #base-timer-label {
      right: -5px;
    }
  }

  .min {
    font-size: 12px;
    top: -2.3rem;
  }

  #restart {
    label {
      color: #7095b2;
    }
  }

  .modal-footer {
    border: none;
  }

  button[disabled] {
    background: #f0f5f7 !important;
    color: #85929f !important;
  }

  button {
    background: #0089fe;
    font-family: inherit;
    box-shadow: none;
    border-radius: 0;
    margin: 0 10px;
    min-width: 140px;
  }

  .modal-header {
    border-bottom: 1px solid transparent !important;
    padding: 0;
  }

  button.close {
    right: 0;
    position: absolute;
    background: red;
    padding: 0;
    margin: 0;
    width: 27px;
    min-width: 27px;
    height: 27px;
    opacity: 1;
    color: #fff;
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
  }

  .register-tries {
    text-align: center;
    background-color: #f0f5f7;
    color: red;
    padding: 20px 30px;
    margin: 20px 0;
  }
}

button.close:focus {
  outline: none;
}

/* reset password */
.reset-password {
  .login {
    margin-top: 50px;
  }

  .form-group {
    .input-group {
      input {
        text-align: right;
        position: relative;
        max-height: 2.2rem;
      }
    }

    .input-group-prepend {
      height: 2.2rem !important;
      position: absolute;
      left: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0 !important;
      padding: 0px 15px;
      background-color: rgba(0, 0, 0, 0.05);

      i {
        cursor: pointer;
        color: #0089fe;
        font-size: 14px;
      }

      .fa-eye:before {
        content: "\f06e" !important;
      }
    }
  }

  button {
    padding: 6px 0 !important;
  }
}

/* Modal Email Profile */
#modal-email-profile .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  min-width: 525px;
  margin: 0 auto;

  .modal-content {
    border-radius: 0 !important;
    border: 0 !important;

    .modal-header {
      border-bottom: 1px solid transparent !important;
      padding: 0 !important;
    }

    .color-black {
      color: #000;
    }

    #content_email {
      color: #0089fe !important;
    }

    button.close {
      right: 0;
      position: absolute;
      background: red;
      padding: 0;
      margin: 0;
      width: 27px;
      height: 27px;
      opacity: 1;
      color: #fff;
      font-size: 25px;
      z-index: 1;
      cursor: pointer;
    }

    .modal-footer {
      border-top: 1px solid transparent !important;
      margin: 0 auto 20px;
      padding: 0;

      button {
        background: #0089fe;
        border-radius: 0;
        min-width: 130px;
        min-height: 36px;
        box-shadow: none;
        font-family: inherit;
      }
    }
  }
}

/* Media Q max 480 */
@media (max-width: 480px) {
  .login-body .login-form .form-group,
  .login-body .login-form button,
  .login-body .login-form .form-check,
  .login-body .login-form .bt_sign_up a {
    width: 80% !important;
  }
  .login-body .login {
    width: 90%;
  }
  #forgetPassword {
    .login-body .login-form .form-group input {
      width: 100% !important;
      margin: 0 auto;
    }

    .login-body .login {
      width: 100% !important;
    }

    .login-body .login-form .form-group {
      width: 92% !important;
      margin: 0 auto;
    }
  }
  #modal-email-forget .login-form {
    padding: 25px 11px;
  }

  .reset-password .login-body .login {
    width: 100% !important;

    input {
      width: 100%;
    }
  }
}

/* Media Q min 576 */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}



