@import './_common.scss';

.login-body {
    min-height: 66vh;
    margin-top: .2rem;
   .login {
    width: 30.938rem;
   }
    .custom-shadow {
        box-shadow: 0 -0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.2);
    }
    .login-form {
        .title label {
            color: $color_dark;
        }
        .wrong-info label, .wrong-info span {
            color: $color_primary;
        }
        .form-group {
            font-weight: bold;
            margin-bottom: 0;
            width: 60%;
            input {
                border-color: #a5aeb6;
                border-radius: .35rem !important;
            }
            .show_pass {
                left: 0;
                z-index: 3;
            }
            .validation-message {
                width: 100%;
                height: 2rem;
            }
        }
        .signIn {
            background-color: $color_primary;
            border-radius: .35rem !important;
            width: 60%;
        }

        .signIn:hover {
            background-color: $color_prim;
        }
        .signIn:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        label .forget-pass {
            color: $color_primary;
        }

        .form-check {
            width: 60%;
        font-size: 0.725rem;
       padding-left: 0;

        .custom-control-label::after {
           top: 0.13rem;
           right: 0.1rem;
        }
        .custom-control-label::before {
            top: 0;
            width: 1.2rem;
            height: 1.2rem;
            border:2px solid #007bff;
        }
        .custom-control {
            padding-right: 0;

            input {
                height: 100%;
                width: 100%;
                z-index: 10;
            }

            .custom-control-label span {
                margin-right: 1.563rem;
                color: #001324;
            }
        }
    }

    h4 {
        text-align: center;
        font-size: 0.875rem;
        margin-bottom: 1rem;
        margin-top: 0.438rem;
        color: $color_primary;
        font-family: 'Droid Arabic Kufi', sans-serif;
        position: relative;

        .register_social {
            background: #FFF
        }
    }

    h4:before,
    h4:after {
        content: "";
        display: flex;
        width: 25%;
        height: 0.094rem;
        background: #000;
        position: absolute;
        top: 50%;
    }

    h4:before {
        left: 0;
    }

    h4:after {
        right: 0;
    }

    .bt_sign_up {

        margin: auto;
        border: none;
        background-color: unset;
        text-align: center;
            background-color: $color_3;
            width: 100%;
            padding: 0.938rem;
            height: 3rem;
            color: #FFF;
            border: none;
            border-radius: 0.125rem;
            font-size: 0.875rem;
            line-height: 1;


    }

}
}
.signIn {
  background-color: $color_primary!important;
  border-radius: .35rem !important;
  width: 60% !important;
}
