@import './_common.scss';
body {
    display: unset !important;
    font-family: $font !important;
}
.login-body {
    min-height: 66vh;
    margin-top: .2rem;
   .login {
    width: 30.938rem;
   }
    .custom-shadow {
        box-shadow: 0 -0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.2);
    }
    .login-form {
        .title label {
            color: $color_dark;
            font-weight: bold;
        }
        .wrong-info label {
            color: #ff0000;
        }
        .form-group {
            font-weight: bold;
            margin-bottom: 0;
            // width: 60%;
            input {
                border-color: #a5aeb6;
                border-radius: .35rem !important;
                direction: ltr;
                width: 18.5rem;
                margin: auto;
            }
            .show_pass {
                left: 0;
                z-index: 3;
            }
            .validation-message {
                width: 18.5rem;
                height: 1rem;
                margin: auto;
            }
            .sw_out {
                .toggle {
                    position: absolute;
                    width: 100% !important;
                    border: none;
                    .toggle-group {
                        .btn-primary {
                            text-align: right;
                            padding-right: 6rem;
                            color: #FFF;
                            background-color: $color_primary;
                            margin: 0;
                        }
                        .btn-danger {
                            right: -50%;
                            text-align: left;
                            padding-left: 7.5rem;
                        }
                    }
                }
            }
        }
        .signIn {
            background-color: $color_primary;
            border-radius: .35rem !important;
            width: 60%;
        }

        .signIn_1:hover {
            background-color: $color_prim;
        }
        .signIn:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        label .forget-pass {
            color: $color_primary;
        }

        .form-check {
            width: 60%;
        font-size: 0.725rem;
       padding-left: 0;

        .custom-control-label::after {
           top: 0.13rem;
           right: 0.1rem;
        }
        .custom-control-label::before {
            top: 0;
            width: 1.2rem;
            height: 1.2rem;
            border:2px solid #007bff;
        }
        .custom-control {
            padding-right: 0;

            input {
                height: 100%;
                width: 100%;
                z-index: 10;
            }

            .custom-control-label span {
                margin-right: 1.563rem;
                color: #001324;
            }
        }
    }

    .bt_sign_up {

        margin: auto;
        border: none;
        background-color: unset;
        text-align: center;
            background-color: $color_3;
            width: 100%;
            padding: 0.938rem;
            height: 3rem;
            color: #000;
            border: none;
            border-radius: 0.125rem;
            font-size: 0.875rem;
            line-height: 1;

    }

}
}

.flag-container {
    direction: ltr;
}

.intl-tel-input {
    margin: auto;
    display: table;
}
.iti-flag {
    background-repeat: unset;
    direction: ltr;
}
.iti-flag.sa {
    background-image: url("~@/assets/images/flag_of_ar.png");
    background-size: 100%;
}








  @import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

.progress {
  display: block;
  margin: 0 auto;
  transform: rotate(-90deg) rotateX(180deg);
  position: absolute;
  top: 2.9rem;
  left: 2rem;
}

.progress circle {
	stroke-dashoffset: 0;
  	transition: stroke-dashoffset 1s ease;
  	stroke: #ff0000;
  	stroke-width: 9px;
}

.progress .bar {
	stroke: #c6c1c1;
}

.progressdiv {
  position: relative;
  display: table;
  .min {
      color: #ff0000;
      font-weight: bold;
  }
}

.counter {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
}
