.head-bread-crumb {
  padding: 10px 0;
  border-top: 1px solid #70707033;

  .main-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
    .back-btn{
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 0;
      &:hover{
        span{
          color: var(--blue-deep);
        }
      }
      span{
        transition: color .3s ease-in-out;
        color: #212529;
        font-size: 13px;
        line-height: 25px;
      }
      i{
        font-size: 13px;
        padding-left: 5px;
        color: var(--blue-deep);
      }
    }

    .bread-crumb{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 20px 0 0!important;
      .bread-item{
        display: flex;
        align-items: center;
        justify-content: center;
        color: unset;
        a{
          color: var(--blue-light) ;
          transition: all .3s ease-in-out;
          font-weight: normal;
          font-size: 13px;
          line-height: 25px;
          &:hover{
            color: var(--blue-deep);
          }
        }

        &:not(:last-child):after{
          color: var(--blue-deep);
          font-family: "icomoon";
          font-size: 13px;
          margin: 0 5px;
          content: "\e913";
          font-weight: normal!important;
        }
      }
    }
  }
}

