.btn-toolbar .pagination .pagers{
    @extend .font-size-12px;
    margin-left: 5px;
    color: $color_primary;
    background-color: $color_white;
    border-radius: .188rem !important;
    display: flex; 
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: .063rem solid silver;
    padding: 0;
    width: 1.875rem;
    height: 1.875rem;
    font-weight: 700;
    text-decoration: none;
    &.active{
        background-color: #e9f3f7 !important;
        border-color: #7e9cc5 !important;
        color: #7e9cc5 !important;
    } 
    &.next,&.prev{
        background-color: $color_prim;
        color: $color_white;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}